@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .startup-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] m-5;
  }

  .startup-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }

  .pink_container {
    @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }
  
  .pattern {
    background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(251, 232, 67, 0.2) 49.5%,
            rgba(251, 232, 67, 0.6) 50.5%,
            transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }
}